@import "tailwindcss";

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #1e1f22;
}

::-webkit-scrollbar-thumb {
  background: #2e3035;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3c41;
}
